@import url(../src/components/MainPage/SideBar/SearchArea/searchArea.css);
@import url(../src/components/MainPage/MainPage.css);
@import url(../src/components/MainPage/SideBar/TaskLists/TaskLists.css);
@import url(../src/components/EditPage/EditPage.css);
@import url(../src/components/MainPage/SideBar/TaskLists/Task/Task.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

#root {
  display: flex;
  height: 100%;
  padding: 0 10px 0 0;
}
