@import url(../src/components/MainPage/SideBar/SearchArea/searchArea.css);
@import url(../src/components/MainPage/MainPage.css);
@import url(../src/components/MainPage/SideBar/TaskLists/TaskLists.css);
@import url(../src/components/EditPage/EditPage.css);
@import url(../src/components/DetailsPage/DetailsPage.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  height: 100%;
  padding: 0 10px 0 0;
}
